.veEditor {
  position: relative;
}
.veVectorInteractionWrapper:focus {
  box-shadow: 0 4px 2px -2px #9ecaed;
}

.taProductViewer {
  display: flex;
}

.RowViewSide,
.CircularViewSide {
  width: 100%;
}
.tg-editor-container {
  display: flex;
}
.ve-clickable {
  cursor: pointer;
  opacity: 0.7;
}
.ve-clickable:hover {
  opacity: 1;
}
.ve-clickable-black {
  cursor: pointer;
  color: rgb(78, 78, 78);
}
.ve-clickable-black:hover {
  color: black;
}
.ve-close-panel-button {
  display: none;
  z-index: 400;
  color: grey;
  height: 25px;
  width: 35px;
}
.ve-panel:hover .ve-close-panel-button {
  display: inherit;
}

.reflex-layout > .reflex-element {
  overflow-y: hidden !important;
}

.fullscreen {
  background: white;
  z-index: 15000;
  position: fixed;
  top: 0px;
  left: 0px;
}

.preview-mode-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.preview-mode-view-fullscreen {
  width: 200px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  background: #2b95d6;
  color: white;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.preview-mode-container:hover .preview-mode-view-fullscreen {
  display: flex;
}

.preview-mode-view-fullscreen:hover {
  background: #0e5a8a;
}
