.veLinearView {
  overflow: visible !important;
}

.veLinearView .veRowItemWrapper {
  display: flex;
  justify-content: center;
}

.veLinearView.isLinViewZoomed .veRowItemWrapper {
  overflow-x: auto;
}
/* .tg-pinch-helper {
  touch-action: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  user-select: none;
} */
