.veAnnotationHovered .veRowViewPart {
  stroke-dasharray: 3px;
}
.veAnnotationHovered:not(text) {
  stroke-dasharray: 3px;
}

.veAnnotationHovered text,
.veAnnotationHovered tspan {
  stroke-dasharray: none;
}
.veRowViewPartContainer > svg {
  z-index: 20;
}
