{
  "presets": [
    [
      "/Users/tnrich/Sites/openVectorEditorTgen/node_modules/babel-preset-env/lib/index.js",
      {
        "loose": true,
        "modules": "commonjs"
      }
    ],
    "/Users/tnrich/Sites/openVectorEditorTgen/node_modules/babel-preset-react/lib/index.js",
    "/Users/tnrich/Sites/openVectorEditorTgen/node_modules/babel-preset-stage-1/lib/index.js",
    "es2015",
    "react",
    "stage-0"
  ],
  "plugins": [
    "/Users/tnrich/Sites/openVectorEditorTgen/node_modules/babel-plugin-transform-decorators-legacy/lib/index.js",
    [
      "/Users/tnrich/Sites/openVectorEditorTgen/node_modules/babel-plugin-transform-react-remove-prop-types/lib/index.js",
      {
        "mode": "wrap"
      }
    ],
    [
      "/Users/tnrich/Sites/openVectorEditorTgen/node_modules/babel-plugin-transform-runtime/lib/index.js",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true
      }
    ],
    "/Users/tnrich/Sites/openVectorEditorTgen/node_modules/babel-plugin-add-module-exports/lib/index.js"
  ],
  "ignore": [
    ".spec.js",
    ".test.js",
    "-test.js",
    "/__tests__/"
  ]
}