@font-face {
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-weight: bold;
    font-style: normal;
    src: url('fonts/Roboto-Bold-webfont.eot');
    src: url('fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-weight: normal;
    font-style: italic;
    src: url('fonts/Roboto-Italic-webfont.eot');
    src: url('fonts/Roboto-Italic.ttf') format('truetype');
}
