.veWarningMessage {
  /* color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
.veWarningMessage svg {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}
