.veCircularViewMiddleOfVectorText {
  position: absolute;
  top: 50%;
  /* position the top  edge of the element at the middle of the parent */
  left: 49.5%;
  /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  /* This is a shorthand of
                                           translateX(-50%) and translateY(-50%) */
}

.selectionLayerInverseWrapper {
  fill: none !important;
}

.veHideLabels .veLabels,
.veHideLabels .veCircularViewMiddleOfVectorText {
  display: none;
}

.circularViewMinimap {
  margin: 4px;
  --v: calc(((18 / 5) * var(--p) - 90) * 1deg);
  --bg: #fff;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  padding: 5px;
  background: linear-gradient(var(--bg), var(--bg)) content-box,
    linear-gradient(var(--v), #ccc 50%, transparent 0) 0 /
      min(100%, calc(50 - var(--p)) * 100%),
    linear-gradient(var(--v), transparent 50%, #4ac5ed 0) 0 /
      min(100%, calc(var(--p) - 50) * 100%),
    linear-gradient(to right, #ccc 50%, #4ac5ed 0);
}
.bp3-dark .circularViewMinimap {
  --bg: #293742;
}
.veCircularView .ve-monospace-font.veCircularViewInternalLabelText {
  font-size: 13px;
}
.veCircularView {
  pointer-events: initial;
}
