.rowContainer {
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    padding: 0.5em 0 0.5em 0;

    border-bottom: 1px solid lightgray;
    font-family: monospace;
}

.rowMarginContainer {
    width: 2em;
    padding: 0 1em 0 1em;
    text-align: right;
}

.rowBodyContainer {
    flex-grow: 1;
}