.app {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.head {
    z-index: 4;
}

.content {
    display: flex;
    flex-grow: 1;
    min-height: 0;
    min-width: 0;
}

.sideBarSlot {
}

.circularViewSlot {
    flex-grow: 1;
    flex-basis: 0;
    display: block;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
}

.rowViewSlot {
    flex-grow: 1;
    flex-basis: 0;
    display: block;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

.foot {
    display: block;
    /*margin-bottom: 64px;*/
}
