@media print {
  body [class^='app-sequence-editor---head'], body [class^='app-sequence-editor---foot'], 
  body [class*='navbar-fixed-bottom'], .sideBarSlot {
    display: none;
  }

  body {
      text-align: center;
      width: 100%;
      margin: 0;
      padding: 0;
      .content {
          width: 100%;
      }
  }

  @page {
      margin: 2cm;
      size: auto;
  }
}

.head {
    overflow: hidden;
}

.content {
    display: flex;
    padding-bottom: 70px;
}

.sideBarSlot {
}

.circularViewSlot {
    flex-grow: 1;
    flex-basis: 0;
}

.rowViewSlot {
    flex-grow: 1;
    flex-basis: 0;
}

.foot {
}
