.app {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 64px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.head {}

.content {
    display: flex;
    flex-grow: 1;
}

.sideBarSlot {
}

.circularViewSlot {
    flex-grow: 1;
    flex-basis: 0;
    padding-bottom: 40px;
    /*margin: 0 15%;*/
}

.rowViewSlot {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    position: relative;
    overflow-y: scroll;
    padding-bottom: 40px;
}

.foot {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
}
