.sequenceContainer {
    position: relative;
}

.columnContainer {
    display: inline-block;
    margin: 0 0.5em 0 0.5em;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: auto;
    }
}