.editrow input:invalid {
    border-color: red;
}

.editrow input:valid {
    border-color: #00bcd4;
}

.editrow input {
    border-top: none;
    border-right: none;
    border-bottom: 2px solid #00bcd4;
    border-left: none;
    width: 75%;
    font-style: italic;
}

.editrow {
    font-size: 14px;
    border: none;
}

input[type=text] {
    padding: 0 0 0 5px;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

td.position input {
    display: inline;
    width: 40% !important;
}

td.position input{
    display: inline;
}

td.strand, td.strand input  {
    text-align: center;
}

.tableContainer {
    position: absolute;
    top: 60px;
    left: 20px;
    right: 0;
    bottom: 50px;
    overflow-y: scroll;
}

.tableContainer table {
    width: 100%;
}

.tableContainer table thead tr {
    line-height: 3em;
}

.tableContainer table tbody tr {
    height: 49px;
    border-left: none;
    border-right: none;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.controls {
    position: absolute;
    background-color: white;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    margin-left: 3px;
}

.orfControl {
    display: inline-block;
    margin-left: 10px;
    background-color: #65B6DE;
    color: white;
    padding: 3px 6px;
    border-radius: 4px;
}

.orfModal {
    display: inline;
    margin-left:20px;
    height: 26px;
}

.arrowdropdown {
    vertical-align: middle;
    cursor: pointer;
}

.arrowdropdown:active {
    box-shadow: -1px -1px 1px grey;
}

.saveButton:disabled {
    color: gray !important;
}

.selectAllNone {
    margin: 5px;
    cursor: pointer;
    font-size: 8pt;
}
