.bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgb(232,232,232);
    border-top: 1px solid #ddd;
    margin-bottom: 64px;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.label {
    margin: 15px;
}

.data {
    margin: 15px 15px 15px 0;
}
