.bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgb(232,232,232);
    border-top: 1px solid #666;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.label {
    margin: 10px;
}

.data {
    margin: 10px 10px 10px 0;
}
