.unsaved div svg {
    fill: #ff4d4d !important;
}

.saved div svg {
    fill: black;
}

.openableIcon:after {
    height: 6px;
    width: 6px;
    border: 2px solid red;
    translate: rotate(45deg);
}
