.ve-propertiesPanel .pt-tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ve-propertiesPanel .pt-tab-list::-webkit-scrollbar {
  display: none;
}
.ve-draggable-tabs::-webkit-scrollbar {
  display: none;
}
.ve-propertiesPanel .pt-tab-list {
  overflow: scroll;
}
.ve-propertiesPanel .pt-tabs .pt-tab-panel {
  display: flex;
  flex-direction: column;
}
.ve-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  min-height: 40px;
  /* padding-top: 15px; */
}
/* .ve-column-right {
  display: flex;
  
  align-items: center;
} */
