.ve-propertiesPanel .bp3-tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ve-propertiesPanel .bp3-tab-list::-webkit-scrollbar {
  display: none;
}
.ve-draggable-tabs::-webkit-scrollbar {
  display: none;
}
.ve-propertiesPanel .data-table-header {
  margin-top: 3px;
  margin-right: 3px;
}
.ve-propertiesPanel .bp3-tab-list {
  overflow: scroll;
}
.ve-propertiesPanel .bp3-tabs .bp3-tab-panel {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: visible;
}

.ve-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  min-height: 40px;
  /* padding-top: 15px; */
}
/* .ve-column-right {
  display: flex;
  
  align-items: center;
} */

/* .data-table-container > * {
  flex-shrink: 0;
} */

.vePropertiesFooter {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}

.ve-propertiesPanel .bp3-popover-wrapper {
  width: fit-content;
}

.ve-propertiesPanel .data-table-container {
  min-height: 250px;
}
.ve-propertiesPanel .data-table-footer {
  margin-top: 5px;
  margin-bottom: 5px;
}
.genbankFileView .bp3-html-select {
  width: fit-content;
  margin-bottom: 5px;
}

.ve-enzymeSubrow .data-table-container {
  height: fit-content;
  min-height: 0px;
}

.ve-enzymeSubrow .ReactTable .rt-tr-group:last-child {
  margin-bottom: 0px;
}
