.veRowViewTranslations {
  z-index: 20;
}

.translationLayer-R,
.translationLayer-H,
.translationLayer-K {
  fill: green;
}

.translationLayer-D,
.translationLayer-E {
  fill: orange;
}
.translationLayer-S,
.translationLayer-T,
.translationLayer-N,
.translationLayer-Q {
  fill: blue;
}
.translationLayer-W,
.translationLayer-F,
.translationLayer-Y,
.translationLayer-M,
.translationLayer-L,
.translationLayer-V,
.translationLayer-I,
.translationLayer-A {
  fill: magenta;
}
.translationLayer-C,
.translationLayer-G,
.translationLayer-P {
  fill: grey;
}
.translationLayer-STOP {
  fill: red;
}
