.veRowViewSelectionLayer {
    height: 100%;
    border: none;
    background: rgb(0, 153, 255);
    opacity: .3;
    top: 0px;
    position: absolute;
    z-index: 10;
}

.veRowViewCaret.veRowViewSelectionLayer {
  background: black;
  opacity: 1;
  cursor: ew-resize;
}

.veRowViewCaret.veRowViewSelectionLayer.cutsiteLabelSelectionLayer {
  display: none !important;
}
