.rowItem {
    padding: 0.5em 0 0.5em 0;
    border-bottom: 1px solid lightgray;
    user-select: none;
    position: relative;
}

.sequenceContainer {

    dominant-baseline: hanging;
}

.margin {
    width: 4em;
    text-align: right;
    padding: 0 0.5em 0 0;
}

.selectionLayer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    z-index: 9999;
    opacity: 0.4;
}
