.rowItem {
    padding: 0.5em 0 0.5em 0;
    border-bottom: 1px solid lightgray;
    user-select: none;
}

.sequenceContainer {

    dominant-baseline: hanging;
}

.margin {
    width: 4em;
    text-align: right;
    padding: 0 0.5em 0 0;
}
