.rowItem {
    padding: 1em 0;
    border-bottom: 1px solid lightgray;
    user-select: none;
    position: relative;
}

.sequenceContainer {
    dominant-baseline: hanging;
}

.margin {
    width: 4em;
    text-align: left;
    padding: 0 0.5em;
}
