.ta_link {
  cursor: pointer;
  color: blue;
}

.ta_link:hover {
  color: lightblue;
}
.veHideEnzymeBtn {
  opacity: 0.3;
}
.veHideEnzymeBtn:hover {
  opacity: 1;
}
.veHiddenEnzyme {
  background-color: #b83211 !important;
  color: #f5f8fa !important;
}

.veToolbarCutsiteFilterHolder .tg-select {
  overflow: auto;
  max-height: 50vh;
}
