body.bp3-dark {
  background: #293742;
}

html,
body,
#demo {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.toggle-button-holder {
  flex-shrink: 0;
}

.bp3-popover.bp3-popover-content-sizing .bp3-popover-content {
  overflow: auto;
  max-height: 350px;
  max-width: 550px;
}
