body.bp3-dark {
  background: #293742;
}

html,
body,
#demo {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.toggle-button-holder {
  flex-shrink: 0;
}

.bp3-popover.bp3-popover-content-sizing .bp3-popover-content {
  overflow: auto;
  max-height: 350px;
  max-width: 550px;
}
.tgOptionContainer {
  z-index: 1000;
  position: absolute;
  overflow-y: auto;
  left: 0px;
  padding-top: 10px;
  width: 250px;
  height: 100%;
  min-width: 250px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  padding-right: 5px;
  border-right: 1px solid lightgrey;
}
