.ve-monospace-font {
  font-family: "Ubuntu Mono", "Lucida Console", Monaco, monospace;
  font-size: 12px;
}
.rowViewTextContainer text {
  user-select: none;
}
.translationLayer text {
  user-select: none;
}
.ve-sequence-reverse {
  fill: #b0b0b0;
}

.veCircularView .ve-monospace-font {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
}

.vespacer {
  height: 15px;
}

.clickable {
  cursor: pointer;
}

.openVeContextMenu .bp3-key {
  box-shadow: none;
  margin: 0px !important;
  padding: 0px !important;
  height: 11px;
  line-height: 7px;
  background: none;
}

.openVeContextMenu .bp3-icon-standard {
  font-size: 10px;
  height: 10px;
}

.veCutsiteLabel {
  font-style: italic;
  user-select: none;
}

.veCutsiteLabel:hover {
  font-weight: bold;
}

/* .disable-hover .veRowItem {
  pointer-events: none !important;
} */

.veWhiteBackground {
  background: white;
}

.tg-min-width-dialog {
  min-width: 300px;
}

/* this is necessary to allow the editor and its portals to sit at the top of the z-index stack for jbei */

.ove-portal {
  z-index: 100000;
}
body.tg-no-scroll-body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.veToolbar {
  padding-top: 3px;
}
.veToolbar-outer {
  padding-bottom: 1px;
  background: #ebf1f5;
}
.bp3-dark .veToolbar-outer {
  background: #202b33;
}
