@import url(~@blueprintjs/core/dist/blueprint.css);
@import url(~@blueprintjs/table/dist/table.css);
@import url(~@blueprintjs/datetime/dist/blueprint-datetime.css);
@import url(~react-select/dist/react-select.css);
@import url(~hint.css/hint.min.css);

.ve-monospace-font {
  font-family: "Lucida Console", Monaco, monospace;
}

.ve-spacer {
  height: 15px;
}

.clickable {
  cursor: pointer;
}
.pt-toast-container,
.basicContext,
.basicContextContainer,
.pt-dialog {
  z-index: 4000 !important;
}
.pt-overlay-content {
  z-index: 4000 !important;
}
