.rowItem {
    padding: 0.5em 0 0.5em 0;
    border-bottom: 1px solid lightgray;
    user-select: none;
}

.sequence {
    text-transform: uppercase;

    &.reversed {
        color: darkgray;
    }
}
