.rowView {
  /*  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: auto; */
    font-family: monospace;
}

.fontMeasure {
    height: 0;
    display: inline-block;
    overflow: hidden;
    position: absolute;
}

.rowMeasure {
    height: 0 !important;
    border: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
}