
.rowView {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 10px;
    left: 0;
    overflow-y: scroll;
    overflow-x: auto;
    font-family: monospace;
}

.fontMeasure {
    height: 0;
    display: inline-block;
    overflow: hidden;
    position: absolute;
}

.rowMeasure {
    height: 0 !important;
    border: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
}

.overlay {
    position: absolute;
    cursor: col-resize;
    top: 0;
    height: 100%;
    width: 4px;
    opacity: 9;
    z-index: 150;
}

.overlay * {
    cursor: col-resize;
    transform: translate(0,0) !important;
    z-index: 200;
}
