.veRowItemSpacer {
    height: 10px;
}

.veRowItem svg:not(:root) {
	overflow: visible;
}

.veRowView, .veCircularView {
	outline:none;
}

.jumpButton {
	border-radius: 4px;
	margin-top: 4px;
	background: lightblue;
	color: white;
	font-size: .9em;
	padding: 4px 6px 4px 6px;
	&:hover {
	    opacity: .8;
	}
}