.veRowItemSpacer {
  height: 10px;
}

.veRowItem svg:not(:root) {
  overflow: visible;
}

.veRowView,
.veCircularView {
  outline: none;
}
.veRowView .veRowViewSelectionLayer:not(.veRowViewCaret) {
  background: gray;
}
.veRowView:focus .veRowViewSelectionLayer:not(.veRowViewCaret) {
  background: #0099ff;
}
.veVectorInteractionWrapper .veRowViewSelectionLayer:not(.veRowViewCaret) {
  background: gray;
}
.veVectorInteractionWrapper:focus
  .veRowViewSelectionLayer:not(.veRowViewCaret) {
  background: #0099ff;
}

.veCircularView .selectionLayer {
  fill: gray;
}
.veCircularView:focus .selectionLayer {
  fill: #0099ff;
}

/* selectionLayerCaret */
