.left {
  margin-right: 55%;
  margin-left: 5px;
  border-color: black;
  position: relative;
}

.right {
  margin-right: 5px;
  margin-left: 55%;
  border-color: black;
  position: relative;
}

.rightLabel {
  margin-right: 2%;
  margin-left: 60%;
  position: relative;
}

.leftLabel {
  margin-left: 2%;
  margin-right: 60%;
  position: relative;
}

.block {
  height: 380px;
  padding-bottom: 5px;
  padding-top: 5px;
  overflow: scroll;
}

.fragmentsNumLabel {
  text-align: right;
  padding-right: 5px;
}