.left {
  margin-right: 55%;
  margin-left: 5px;
  border-color: black;
  position: relative;
}

.right {
  margin-right: 5px;
  margin-left: 55%;
  border-color: black;
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.rightLabel {
  margin-right: 2%;
  margin-left: 60%;
  position: relative;
}

.leftLabel {
  margin-left: 2%;
  margin-right: 60%;
  position: relative;
}

.block {
  height: 380px;
  max-height: none;
  padding-bottom: 40px;
  padding-top: 10px;
  overflow: scroll;
}

.fragmentsNumLabel {
  text-align: left;
  padding-right: 5px;
}